@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700;900&display=swap');

$primary-color: #ED7839;
$background-color: #FDF1EB;
$text-grey-color: #5C5C5C;
$stronger-grey-color: #4E4E4E;
$nav-title-grey: #725C5C;
$user-info: #333333; 
$border-color: #E7E7E7;

@mixin text-styles($family: 'Roboto', $weight: 500, $size: 0.875em, $line: 1.1875em, $color: $text-grey-color) {
    font-family: $family, sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;

    color: $color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grey-title{
    @include text-styles($weight: 400, $size: 1.375em, $line: 1.5625em, $color: $nav-title-grey);
}

.orange-title{
    @include text-styles($weight: 900, $size: 1.25em, $line: 125%, $color: $primary-color);
    letter-spacing: 0.05em;
}

.orange-text{
    @include text-styles($weight: 700, $size: 1em, $line: 1.25em, $color: $primary-color);
}

.grey-text{
    @include text-styles($family: 'Quicksand', $weight: 400, $size: 0.875em, $line: 1.375em, $color: $nav-title-grey);
}

.bold{
    font-weight: 700;
}
.small{
    font-size: 0.75em;
}

.big-grey-text{
    @include text-styles($size: 1.25em, $line: 1.5625em, $color: $stronger-grey-color);
}

#see-more{
    @include text-styles($family: 'Quicksand', $weight: 700, $size: 0.875em, $line: 1.3125em, $color: $primary-color);
}

#discussion-component{
    p{
        line-height: 1.1875em;
        text-align: center;
    }
}

#logo-section{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 13.75em;
    height: 4.25em;

    background: rgb(255,179,84);
    background: linear-gradient(180deg, rgba(255,179,84,1) 0%, rgba(238,122,58,1) 100%);

    padding: 0 1.5em;

    h1{
        @include text-styles($weight: 700, $size: 1.875em, $line: 2.1875em, $color: #fff);
    }
}

nav{
    display: flex;
    justify-content: space-between;

    height: 4.25em;

    padding-right: 2em;

    background: $background-color;

    #user-info-section{
        display: flex;

        #infos{
            display: flex;
            align-items: center;

            div:first-child{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 0 1em;
            }
        }

        small{
            font-size: 0.75em;
            line-height: 0.9375em;
        }
    }
}

.title-background{
    background: $background-color;

    padding: 0.75em 1em;
    margin-bottom: 1em;
}

.topic-container{
    display: flex;
    flex-direction: column;

    border: 0.0625em solid #ECECEC;
    border-radius: 0.1875em;

    padding-bottom: 1em;
    margin-top: 2em;

    .resume-padding{
        padding: 0 1em;
    }


}

.discussion{
    div:nth-child(2){
        align-self: center;
        text-align: center;
    
        max-width: 40em;
    }

    #share-images{
        margin-top: 1.5em;
        margin-bottom: 2em;

        img:nth-child(2){
            margin: 0 3.5em;
        }
    }

    #button-divider{
        width: 100%;
    
        display: flex;
        align-items: center;
    
        align-self: center;
    
        padding: 0 1em;
        margin-top: 1em;
    
        button{
            min-width: 9em;

            display: flex;
            align-items: center;

            background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
            
            border: none;
            border-radius: .25em;
    
            outline: none;
    
            padding: .5em 1em;
    
            font-size: .925em;
            color: #fff;
            line-height: 1em;
            font-weight: 700;
            font-family: 'Quicksand', sans-serif;
    
            cursor: pointer;
        }
    
        div:first-child, div:last-child{
            width: 100%;
            height: 1px;
            background: $border-color;
        }
    }
    .ask-box{
        margin: 1em 1em;
        padding: 1em 1.5em;

        border: 0.0625em solid #E7E7E7;
        border-radius: .25em;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);

        strong{
            padding-top: .25em;
            padding-bottom: .5em;
        }

        .actions-buttons{
            display: flex;
            align-items: center;

            margin-top: 1em;

            p:last-child{
                padding-left: 1.5em;
            }
        
            .dots{
                display: flex;
                flex-direction: column;
        
                div{
                    background: $primary-color;
        
                    width: .25em;
                    height: .25em;
        
                    border-radius: 50%;
                }
        
                div:nth-child(2){
                    margin: .25em 0;
                }
            }

            .shadow{
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
            
                border-radius: .125em;

                margin: 0 1.5em;
            }
        }

    }
}

.body-section{
    display: flex;
}

.orange-button{
    display: flex;
    align-items: center;

    font-size: 1em;
    color: #fff;
    line-height: 1.0675em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    background: $primary-color;
    border: none;
    border-radius: .25em;

    outline: none;

    padding: .5em 1em;

    cursor: pointer;
}

.icon{
    color: #fff;

    font-size: 1em;
    line-height: 1.375em;
    letter-spacing: 0.01em;
}

#details-section{
    div:first-child{
        display: flex;

        button:nth-child(2){
            margin: 0 .5em;
        }
    }
}

#principal{
    display: flex;
}

#side-navigation{
    display: flex;
    flex-direction: column;

    width: 13.75em;

    #links{
        display: flex;
        flex-direction: column;
    
        li{
            @include text-styles('Quicksand', 500, 0.9375em, 1.1875em, $nav-title-grey);
    
            border-bottom: 0.125em solid $border-color;

            padding-top: .5em;
            padding-bottom: .5em;
            padding-left: 1.5em;
    
            cursor: pointer;
        }

        .active{
            border-left-width: 0.3125em;
            border-right-width: 0;
            border-style: solid;
            border-image: 
              linear-gradient(
                to top, 
                rgba(255,179,84,1),
                rgba(238,122,58,1)
              ) 1 100%;

            background: $background-color;
        }
    }
}

#circle-image{
    img{
        width: 4em;
        height: 4em;
        border-radius: 50%;
    }
}
